@{
    ViewData["Title"] = "Tác Giả";
    Layout = "~/Areas/KhachHang/Views/Shared/_Layout_KhachHang.cshtml";
}

<div class="animated-background">
    <div class="aurora"></div>
    <div class="organic-pattern"></div>
    <div class="organic-pattern"></div>
    <div class="organic-pattern"></div>
    <!-- Floating Leaves -->
    <div class="leaf maple" style="left: 5%; animation-delay: 0s;">🍁</div>
    <div class="leaf oak" style="left: 15%; animation-delay: -3s;">🍃</div>
    <div class="leaf birch" style="left: 25%; animation-delay: -6s;">🌿</div>
    <div class="leaf maple" style="left: 35%; animation-delay: -9s;">🍂</div>
    <div class="leaf small" style="left: 45%; animation-delay: -12s;">🌱</div>
    <div class="leaf oak" style="left: 55%; animation-delay: -2s;">🍃</div>
    <div class="leaf birch" style="left: 65%; animation-delay: -5s;">🌿</div>
    <div class="leaf maple" style="left: 75%; animation-delay: -8s;">🍁</div>
    <div class="leaf small" style="left: 85%; animation-delay: -11s;">🌱</div>
    <div class="leaf oak" style="left: 95%; animation-delay: -14s;">🍃</div>
    <!-- Floating Bubbles -->
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
</div>

<div class="container">

    <div class="about-header">
        <h1>Đội Ngũ Phát Triển</h1>
    </div>

    <div class="authors-grid">
        <!-- Tác giả 1 -->
        <div class="author-card">
            <div class="author-img-wrapper">
                <img src="~/images/author7.jpg" alt="Tác giả 1" class="author-img" />
                <div class="author-name">Trương Tường Vi - Leader</div>
            </div>
            <div class="task-tags">
                <div class="task-tag">Thiết kế trang Tác giả</div>
                <div class="task-tag">Thiết kế cơ sở dữ liệu</div>
                <div class="task-tag">Phân chia công việc</div>
                <div class="task-tag">Tổng hợp nội dung báo cáo</div>
            </div>
        </div>

        <!-- Tác giả 2 -->
        <div class="author-card">
            <div class="author-img-wrapper">
                <img src="~/images/author10.jpg" alt="Tác giả 2" class="author-img" />
                <div class="author-name">Phạm Văn Giàu</div>
            </div>
            <div class="task-tags">
                <div class="task-tag">Thiết kế Header và Footer</div>
                <div class="task-tag">Đăng Nhập và Đăng Xuất</div>
            </div>
        </div>

        <!-- Tác giả 3 -->
        <div class="author-card">
            <div class="author-img-wrapper">
                <img src="~/images/author11.jpg" alt="Tác giả 3" class="author-img" />
                <div class="author-name">Huỳnh Vũ Luân</div>
            </div>
            <div class="task-tags">
                <div class="task-tag">Viết báo cáo và thuyết trình</div>
                <div class="task-tag">Thiết kế trang quản lý tài khoản</div>
            </div>
        </div>

        <!-- Tác giả 4 -->
        <div class="author-card">
            <div class="author-img-wrapper">
                <img src="~/images/author13.jpg" alt="Tác giả 4" class="author-img" />
                <div class="author-name">Nguyễn Thanh Tiền</div>
            </div>
            <div class="task-tags">
                <div class="task-tag">Thiết kế trang Admin</div>
                <div class="task-tag">Tạo dữ liệu mẫu</div>
            </div>
        </div>

        <!-- Tác giả 5 -->
        <div class="author-card">
            <div class="author-img-wrapper">
                <img src="~/images/author12.jpg" alt="Tác giả 5" class="author-img" />
                <div class="author-name">Trần Thế Hào</div>
            </div>
            <div class="task-tags">
                <div class="task-tag">Thiết kế trang giỏ hàng</div>
                <div class="task-tag">Thiết kế trang thanh toán</div>

            </div>
        </div>

        <!-- Tác giả 6 -->
        <div class="author-card">
            <div class="author-img-wrapper">
                <img src="~/images/author14.jpg" alt="Tác giả 6" class="author-img" />
                <div class="author-name">Nguyễn Minh Phúc</div>
            </div>
            <div class="task-tags">
                <div class="task-tag">Thiết kế trang chủ - Home</div>
                <div class="task-tag">Thiết kế trang sản phẩm</div>
            </div>
        </div>
    </div>


</div>

<link rel="stylesheet" href="~/css/KhachHang/about.css" />
<script src="~/js/KhachHang/about.js"></script>